.Shop {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.item {
  display: grid;
  grid-template-rows: 1fr 200px repeat(3, auto);
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  justify-items: center;
  gap: 20px;
  background-color: #a5abaf;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #5f4c40;
  text-align: center;
}

.item img,
.item p:nth-of-type(1),
.item p:nth-of-type(2) {
  grid-column: 1/4;
}

.item img {
  max-height: 200px;
  width: auto;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}

.item button:nth-of-type(1) {
  grid-column: 1/2;
  background-color:#5f4c40;
  color: #a5abaf;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
}

.item p:nth-of-type(3) {
  grid-column: 2/3;
  color: #5f4c40;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 50px;
  height: 50px;
  padding: 5px 25px;
  border-radius: 10px;
  border: 1px solid #5f4c40;
}
.item button:nth-of-type(2) {
  grid-column: 3/4;
  background-color: #5f4c40;
  color: #a5abaf;
  font-size: 40px;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.item button:nth-of-type(3) {
  grid-column: 1/4;
  background-color: #5f4c40;
  padding: 5px 25px;
  border-radius: 10px;
  color: #a5abaf;
  font-weight: bold;
  font-size: 20px;
}

.item p:nth-of-type(1) {
  font-size: 30px;
  font-weight: bold;
  color: #5f4c40;

}

.item p:nth-of-type(2) {
    font-size: 30px;
    font-weight: bold;
    color: #5f4c40;
  
  }
